 # 25th

In [1]:
l = ['sa','si','er','ty','hu']
l.sort()
l

['er', 'hu', 'sa', 'si', 'ty']

In [4]:
l.reverse()
l

['ty', 'si', 'sa', 'hu', 'er']

# TUPLE

In [5]:
t =(12,2,334,56)
t.count(12)

1

In [7]:
for i in t:
    print(i)

12
2
334
56

In [12]:
t1 = (0,0,0)
t1
print(id(t1))

1245246049216

In [14]:
t1 = (1,2,3,45,45,45)
print(id(t1))

1245244752416

In [15]:
t1 = (23,234,56)
print(id(t1))

1245245664384

In [39]:
set1 = {1, 5, 6, 4, 3}
print(set1)

{1, 3, 4, 5, 6}

In [41]:
x = 50

def fun1():
    x = 25
    print(x)

fun1()
print(x)

25
50

In [42]:
print(type(0xFF))

<class 'int'>

In [43]:
print(type(0xFF))

<class 'int'>

In [47]:
str1 = 'Ault\'Kelly'
print(str1)

Ault'Kelly

In [55]:
aTuple = (1, 'Jhon', 1+3j)
print(type(aTuple[1]))

<class 'str'>

In [56]:
bool(34.56)

True

In [57]:
print(bool(0), bool(3.14159), bool(-3), bool(1.0+1j))

False True True True

In [58]:
def func1():
    x = 50
    return x


func1()
print(x)

50

In [68]:
type(range(5))

range

In [69]:
print(type(10))

<class 'int'>

In [70]:
x = "Hello"
print(type(x))

<class 'str'>

In [71]:
x = 3.14
print(type(x))

<class 'float'>

In [72]:
x = 10
y = "20"
print(x + int(y))

30

In [77]:
x = {"apple", "banana", "cherry", "apple"}
print(x)
print(type(x))

{'banana', 'cherry', 'apple'}
<class 'set'>

In [78]:
x = {"name": "John", "age": 30}
print(type(x))

<class 'dict'>

In [79]:
x = 10
y = "20"
print(str(x) + y)

1020

In [80]:
x = [1, 2, 3]
y = x.copy()
x.append(4)
print(y)

[1, 2, 3]

In [81]:
x = {"a", "b", "c"}
y = {"b", "c", "d"}
z = x & y
print(z)

{'c', 'b'}

In [82]:
x = {"a": 1, "b": 2}
y = {"b": 3, "c": 4}
z = {**x, **y}
print(z)

{'a': 1, 'b': 3, 'c': 4}

In [86]:
x = {1, 2, 3}
x.clear()

In [87]:
print(x)

set()

In [7]:
x = 'abc'
x.upper()
print(x)

abc

In [14]:
x = "hello"
y = x.replace("l", "L", 1)
print(y)

heLlo

In [16]:
x = {"name": "John", "age": 30}
print(x["address"])

KeyError: 'address'

In [19]:
x = [1, 2, 3]
y = x[:]
x[0] = 4
print(y)
print(x)

[1, 2, 3]
[4, 2, 3]

In [21]:
x = {"name": "John", "age": 30}
y = x.copy()
x["name"] = "Jane"
print(y["name"])

John

In [22]:
x = {"apple", "banana", "cherry"}
y = x.pop()
print(y)

cherry

In [23]:
x = [1, 2, 3]
x.insert(1, 4)
print(x)

[1, 4, 2, 3]

In [24]:
x = {"a", "b", "c"}
y = x - {"b"}
print(y)

{'a', 'c'}

In [25]:
t1 = (12,23,34,45)
t1

(12, 23, 34, 45)

In [32]:
t2 = (12,23.67,[75,'dsa','3+5J',True],{'fdf',23,567})
t2

(12, 23.67, [75, 'dsa', '3+5J', True], {23, 567, 'fdf'})

In [36]:
t2[3:]

({23, 567, 'fdf'},)

In [37]:
t2[-1]

{23, 567, 'fdf'}

In [49]:
tup = ('one','two','three','four','five','six','seven','eight','nine')
id(tup)

2405801167424

In [42]:
tup[0:3]

('one', 'two', 'three')

In [43]:
tup[2:5]

('three', 'four', 'five')

In [45]:
del tup
tup

NameError: name 'tup' is not defined

In [53]:
tup1 = (12,34,67,674,98786)
id(tup1)

2405801142176

In [50]:
tup[0] = 45

TypeError: 'tuple' object does not support item assignment

In [54]:
for i in enumerate(tup1):
    print(i)

(0, 12)
(1, 34)
(2, 67)
(3, 674)
(4, 98786)

In [56]:
12 in tup1

True

In [57]:
23 in tup1

False

In [59]:
tup.index('three')

2

In [60]:
tup1.index(12)

0

In [62]:
sorted(tup)

['eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two']

In [63]:
sorted(tup1)

[12, 34, 67, 674, 98786]